// =================
// = Footer Styles =
// =================

.content-info { 
	.business-info {
		.opening-times {display: none;}
	}
}

.site-author {
	color: @gray-lighter;
	text-align: center;
	margin: @grid-gutter-width/2 0;
}