// =================
// = Global Styles =
// =================

body {
	font-weight: @font-weight-base;
}

// Button and link transitions
a, 
button, 
.btn {
	-webkit-transition: color @transition, background-color @transition, background @transition;
	-moz-transition: color @transition, background-color @transition, background @transition;
	-ms-transition: color @transition, background-color @transition, background @transition;
	transition: color @transition, background-color @transition, background @transition;
	&:hover {
		text-decoration: none;
	}
}

// Removes frame around focus links
*:focus {
	outline:none !important;
}

// Responsive Images
img {
	.img-responsive;
}

// text selection color change
::selection {
	background: lighten(@brand-primary,5%);
	color: #fff;
	text-shadow: none;
	}
::-moz-selection {
	background: lighten(@brand-primary,5%);
	color: #fff;
	text-shadow: none;
}

// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

// Titles
.page-header {
	padding-top: @padding-large-vertical*2;
	margin: 0;
	border: none;
	
	&:after {
		content: '';
		display: block;
		width: 15%;
		border-bottom: 1px solid @gray-lighter;
		margin: @padding-large-vertical*2 auto;
	}
	
	h1 {
		text-align: center;
		margin: 0;
	}
}

.section-header {
	text-align: center;

	&:after {
		content: '';
		display: block;
		width: 15%;
		border-bottom: 1px solid @gray-lighter;
		margin: @padding-large-vertical auto;
	}
}

// Structured data business info
.business-info {
	color: @gray;
	text-align: center;
	.address {
		display: inline-block;
	}
	.contact {
		span {
			margin-right: @padding-small-horizontal;
		}
	}
	.opening {
		display: none;
		height: 0;
	}
}
.structured-data {
	margin-top: @padding-large-vertical;
}
.location {
	display: none;
}
