// ===============
// = Post Styles =
// ===============

.hentry {
	p {
		font-family: @font-family-serif;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: .3px;
	}
	
	header { }
	time { }
	.byline { }
	.entry-content { }
	footer { }
}

// Post Type Layouts

.single-post {
	.hentry.post {
		.make-sm-column(10);
		.make-sm-column-offset(1);
	}
	
	.entry-meta {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: white;
		font-size: 14px;
		color: @gray;
		padding: @padding-large-vertical @padding-large-horizontal*2;
		line-height: 30px;
		border-top: 1px solid @gray-lighter;
		
		.meta-author,
		.published {
			&:after {
				display: inline-block;
				content: '\2022';
				font-size: 12px;
				padding: 0 @padding-small-horizontal;
			}
		}
		
		.avatar {
			.img-circle;
			float: left;
			margin-right: @padding-small-horizontal;
		}
		.social-share {
			float: right;
			font-size: 23px;
			.meta-title {
				font-size: 16px;
				&:after {
					display: inline-block;
					content: '\2022';
					font-size: 12px;
					padding: 0 @padding-small-horizontal;
				}
			}
			a {
				line-height: 34px;
			}
		}
	}
}


// blockquotes styling
blockquote {
	position: relative;
	border-left: none;
	margin: @grid-gutter-width 0;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	color: @gray;
	
	&:before,
	&:after {
		content: '';
		display: inline-block;
		width: 15%;
		margin: 0 auto;
	}
	
	&:before {
		padding-bottom: @grid-gutter-width;
		border-top: 1px solid @gray-lighter;
	}
	&:after {
		padding-top: @grid-gutter-width;
		border-bottom: 1px solid @gray-lighter;
	}
}

// Post Image Alignments

.aligncenter {
	display: block;
	margin: @padding-large-vertical auto;
	text-align: center;
}
.alignleft {
	float: left;
	margin-right: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}
.alignright {
	float: right;
	margin-left: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}
.alignnone {
	display: block;
	margin-left: 0;
	margin-right: 0;
}
figure {
	clear: both;
	img {
		margin: 0;
	}
}

// Related Post Layout

.relatedposts {
	.make-row();
	
	.section-header {
		.h3;
	}
	
	.relatedthumb {
		.make-sm-column(4);
		.related-title {
			.h4;
		}
		.related-excerpt {
			font-size: 14px;
		}
	}
}