// ===============
// = Post Styles =
// ===============

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


// Post Image Alignments

.aligncenter {
	display: block;
	margin: @padding-large-vertical auto;
	text-align: center;
}
.alignleft {
	float: left;
	margin-right: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}
.alignright {
	float: right;
	margin-left: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}
.alignnone {
	display: block;
	margin-left: 0;
	margin-right: 0;
}
figure {
	clear: both;
	img {
		margin: 0;
	}
}

// Related Post Layout

.relatedposts {
	.make-row(0);
	border-bottom: 1px solid @gray-lighter;
	padding-bottom: @padding-large-vertical;
	margin-bottom: @padding-large-vertical;
	
	.relatedthumb {
		.make-sm-column(3);
		-webkit-opacity: .8;
		-moz-opacity: .8;
		-ms-opacity: .8;
		-o-opacity: .8;
		opacity: .8;
		
		&:hover {
			-webkit-opacity: 1;
			-moz-opacity: 1;
			-ms-opacity: 1;
			-o-opacity: 1;
			opacity: 1;
		}
	}
	.related-title {
		padding-top: 5px;
		margin-bottom: 0;
		color: @gray-dark;
	}
	.h3 {
		margin-top: 0;
	}
}